body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Yellowtail', serif;
  font-size: 6.25rem;
  color: #7fcbd7;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 40px auto;
  color: #7fcbd7;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #857ebb;
}
a {
  font-family: 'Montserrat', sans-serif;
  color: #857ebb;
}
p{
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}
hr {
  border: none;
  border-top: 10px dotted #ca9dd7;
  width: 5%;
  margin: 10px auto;
}
.top-cloud {
  position: absolute;
  right: 10%;
  top: 80px;
  width: 256px;
}
.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 20%;
  width: 256px;
}
.mountain {
  position: absolute;
  bottom: 0;
  width: 700px;
}
.mountain-hidden {
  visibility: hidden;
}
.header {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  background-color: #c6e6f5;
  padding: 50px;
  width: 100vw;
}
.top-container {
  position: relative;
  background-color: #c6e6f5;
  padding-top: 15vh;
}
.middle-container {
  background-color: #ffeeeb;
}
.bottom-container {
  background-color: #acace6;
  padding: 25px 0;
}
.footer-link {
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
}
.external-link {
  text-decoration: none;
}
.copyright, .disclaimer {
  color: white;
}
.contact-p {
  margin-bottom: 50px;
}
.header-content {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 40%;
  width: 20%;
  height: 20%;
  margin: 0 auto;
}
.header-content a {
  margin: 10%;
  text-decoration: none;
  font-weight: bold;
}
.profile {
  display: inline-block;
  width: 50%;
  margin: 40px auto;
}
.skill-row {
  display: inline-block;
  width: 50%;
  margin: 50px auto;
  text-align: left;
}
.contact-me {
  display: inline-block;
  width: 50%;
  margin-bottom: 60px;
}
.btn {
  padding: 15px 25px;
  background-color: #857ebb;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -ms-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.btn:hover {
  background-color: #a59fcd;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.profile-image {
  width: 40%;
  min-width: 100px;
  max-width: 300px;
  border-radius: 200px;
}
.header-image {
  position: absolute;
  left: 10%;
  top: -10px;
  width: 100px;
}
.code-icon {
  width: 25%;
  margin-right: 30px;
  float: left;
}
.art-icon {
  width: 25%;
  margin-left: 30px;
  float: right;
}
